<link rel="stylesheet" href="/css/dalton.css">
<form class="battleForm">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card col-1 xrp-card card-body bg-dark">
                XRP:
            </div>
            <div class="col-2">
                <div class="card xrp-value">
                    <div class="card-body">
                        50
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-7 mx-auto typewriter position-absolute bottom-0 end-0">
    <div class="card-body text-center" id="battle-text">
        You enter a large laboratory and hear the sound of bubbling mixtures and glass clinking.
        As you round a large cabinet with macabre displays of jar-encased monstrosities you see a small creature completely enthrawled in his concoctions.
        It notices you and looks up at you, seemingly annoyed, with a dejected tone it states "No vsitors today! Much too busy, much too busy!"
    </div>

</div>
</div>
<div class="btn-group col-7 position-absolute bottom-0 end-0" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark">Run</button>
    <button type="button" class="btn btn-dark">Hide</button>
    <button type="button" class="btn btn-dark">Fight</button>
    <button type="button" class="btn btn-dark">Bribe</button>
</form>
<script src="/js/bullies.js"></script>
<script src="/js/battleDalton.js"></script>