<link rel="stylesheet" href="/css/lee.css">

<div class="card col-9 fixed-bottom typewriter">
  <div class="card-body text-center typewriter-text" id="battle-text">
      A dark mysterious figure approaches, fiddling with what appears to be small shreds of a banana peel and muttering weird nursery rhymes to himself.
    His gaze leaves the floor and meets yours, and taunts your feeble attempts to traverse these dungeons.
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-dark">Run</button>
  <button type="button" class="btn btn-dark">Hide</button>
  <button type="button" class="btn btn-dark">Fight</button>
  <button type="button" class="btn btn-dark">Bribe</button>
</div>
</div>