<link rel="stylesheet" href="/css/cody.css">
<form class="battleForm">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card col-1 xrp-card card-body bg-dark">
                XRP:
            </div>
            <div class="col-2">
                <div class="card xrp-value">
                    <div class="card-body">
                        50
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-7 mx-auto typewriter position-absolute bottom-0 end-0">
    <div class="card-body text-center" id="battle-text">
        You enter a colossal underground cavern, with light only leaking through the giant entrance.
        As you move towards the door on the other side the ground begins to tremble beneath you.
        A gargantuan stone toritoise rises from the ground and begins levitating in front of you.
        The massive creature beckons to you "Ahh, a traveler, what is it you seek from this place?"
    </div>

</div>
</div>
<div class="btn-group col-7 position-absolute bottom-0 end-0" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark">Run</button>
    <button type="button" class="btn btn-dark">Hide</button>
    <button type="button" class="btn btn-dark">Fight</button>
    <button type="button" class="btn btn-dark">Bribe</button>
</form>
<script src="/js/bullies.js"></script>
<script src="/js/battleCody.js"></script>