<link rel="stylesheet" href="/css/allBattles.css">
<form class="battleForm">
    <span id='cssBackgroundBlock'></span>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card col-1 xrp-card card-body bg-dark">
                    XRP:
                </div>
                <div class="col-2">
                    <div class="card value">
                        <div class="card-body" id="xrp-value">
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card col-6 mx-auto typewriter position-absolute bottom-0 end-0">
        <div class="card-body text-center" id="battle_text"></div>
    </div>

    <div class="btn-group col-6 position-absolute bottom-0 end-0" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark" id="choiceRun">Run</button>
        <button type="button" class="btn btn-dark" id="choiceHide">Hide</button>
        <button type="button" class="btn btn-dark" id="choiceFight">Fight</button>
        <button type="button" class="btn btn-dark" id="choiceBribe">Bribe</button>
    </div>
</form>
<script defer src="/js/bullies.js"></script>
<script defer src="/js/battle.js"></script>