<link rel="stylesheet" href="/css/jared.css">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card col-1 xrp-card card-body bg-dark">
                XRP:
            </div>
            <div class="col-2">
                <div class="card xrp-value">
                    <div class="card-body">
                        50
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-7 mx-auto typewriter position-absolute bottom-0 end-0">
    <div class="card-body text-center" id="battle-text">
        A dark mysterious figure approaches, fiddling with what appears to be small shreds of a banana peel and
        muttering weird nursery rhymes to himself.
        His gaze leaves the floor and meets yours, and taunts your feeble attempts to traverse these dungeons.
    </div>

</div>
</div>
<div class="btn-group col-7 position-absolute bottom-0 end-0" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark">Run</button>
    <button type="button" class="btn btn-dark">Hide</button>
    <button type="button" class="btn btn-dark">Fight</button>
    <button type="button" class="btn btn-dark">Bribe</button>

<script src="/js/bullies.js"></script>
<script src="/js/battle.js"></script>