<link rel="stylesheet" href="/css/cody.css">

<div class="card col-9 mx-auto">
  <div class="card-body text-center" id="battle-text">
      
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-dark">Run</button>
  <button type="button" class="btn btn-dark">Hide</button>
  <button type="button" class="btn btn-dark">Fight</button>
  <button type="button" class="btn btn-dark">Bribe</button>
</div>
</div>