<link rel="stylesheet" href="/css/lee.css">
<form class="battleForm">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card col-1 xrp-card card-body bg-dark">
                XRP:
            </div>
            <div class="col-2">
                <div class="card value">
                    <div class="card-body" id="xrp-value">
                        
                    </div>             
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card col-6 mx-auto typewriter position-absolute bottom-0 end-0">
    <div class="card-body text-center" id="battle-text">
        After a long perilous journey you find yourself at a large metal door with heat eminating from inside.
        As you open the door a deafening roar fills the room, you reluctantly push forward and find yourself looking upon the legendary dragon.
        With a bellowing voice the monster calls out "How hard have you worked just to fail here?"
    </div>

</div>
</div>
<div class="btn-group col-6 position-absolute bottom-0 end-0" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark" id="choiceRun">Run</button>
    <button type="button" class="btn btn-dark" id="choiceHide">Hide</button>
    <button type="button" class="btn btn-dark" id="choiceFight">Fight</button>
    <button type="button" class="btn btn-dark" id="choiceBribe">Bribe</button>
</div>
</form>
<script defer src="/js/bullies.js"></script>
<script defer src="/js/battleManny.js"></script>