

<link rel="stylesheet" href="/css/buildCharacter.css">
<div id='buildCharacter'>
    <h1>Build a character</h1>

    <h2>Race Buttons</h2>
    <div id='raceButtonList'>
    </div>

    <h2>Class Buttons</h2>
    <div id='classButtonList'>
    </div>

    <script src="/js/buildCharacter.js"></script>
</div>