
<div id='characterView'>
    <h2>View Your Character</h2>
    <div>
        <img class="character-image col-4" src="https://cg2.cgsociety.org/uploads/images/medium/sebgiroux-assassin-creed-odyss-1-065d38c5-xo8u.jpg" />
    </div>
</div>