
<div id='buildCharacter'>
    <h1>Build a character</h1>

<div id='characterInput'>
    <label for="caracter_name">Character Name:</label> 
    <input id="caracter_name" name="caracter_name" type="text" />

    <label for="character_XRP">Character XRP</label> 
    <input id="character_XRP" name="character_XRP" type="text" />

    <h2>Race Buttons</h2>
        <div id='raceButtonList'>
    </div>

    <h2>Class Buttons</h2>
        <div id='classButtonList'>
    </div>
</div>

    <script src="/js/characterBuild.js"></script>

    <div class="btn-group-vertical col-4 mx-auto" id="race" role="group" aria-label="Basic outlined example">
    </div>
    <div>
        <img class="character-image col-4" src="https://cg2.cgsociety.org/uploads/images/medium/sebgiroux-assassin-creed-odyss-1-065d38c5-xo8u.jpg" />
    </div>
    <div class="btn-group-vertical col-4 mx-auto" id="class" role="group" aria-label="Basic outlined example">
    </div>

    <button type="button" id="createCharacter" >Create Character</button>

</div>