<link rel="stylesheet" href="/css/style.css">

<menu>
  <h1 class="display-1 text-center" id="game-title">Welcome to Agarthan Adventures</h1>
  <h3 class="display-1 text-center" id="information">Overcome fear, uncertainty and doubt and hold on for dear life in hopes to become the savior of Agartha!</h3> 
  <div class="d-grid gap-2 col-4 mx-auto" id="buttons">
    <button class="btn btn-lg btn-dark" type="button" id="viewCharBtn">View Character</button>
    <button class="btn btn-lg btn-dark" type="button" id="playGameBtn">Play Game</button>
    <button class="btn btn-lg btn-dark" type="button" id="howToPlayBtn">How to Play</button>
  </div>
</menu> 

<script src="/js/gameMenu.js"></script>