
<menu>
  <h1 class="display-1 text-center" id="game-title">Agarthan Adventures</h1>
  <div class="d-grid gap-2 col-4 mx-auto" id="buttons">
    <div><button class="btn btn-lg btn-dark" type="button">Login</button></div>
    <div><button class="btn btn-lg btn-dark" type="button">Sign Up</button></div>
  </div>
</menu> 