<link rel="stylesheet" href="../public/css/style.css">
<style>
    body {
      background-image: url('/assets/bgpic.jpg');
      background-size: cover;
      height: 100%;
    }
  </style>
\
<menu>
  <h1 class="display-1 text-center" id="game-title">Welcome to Agarthan Adventures</h1>
  <h3 class="display-1 text-center" id="information">Whatever Adam and Cody want to put here! They are the fancy writers of the game! I have never been the writing type.</h3> 
  <div class="d-grid gap-2 col-4 mx-auto" id="buttons">
      <button class="btn btn-lg btn-dark" type="button">Login</button>    
      <button class="btn btn-lg btn-dark" type="button">Sign Up</button>    
  </div>
</menu> 