<div class="card text-center col-9 mx-auto ">
  <div class="card-header">
    Agarthan Adventures
  </div>
  <div class="card-body">
    <h3 class="card-title">Your Results:</h3>
    <h5 class="card-text" id="header"></h5>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<script src="/js/summary.js"></script>