  <h1 class="display-1 text-center" id="game-title">Welcome to Agarthan Adventures</h1>
  <h3 class="display-1 text-center" id="information">Overcome fear, uncertainty and doubt and hold on for dear life in hopes to become the savior of Agartha!</h3> 
  <div>
    <p class="display-1 text-center" id="information" style="font-size:30px">
     Welcome to Agartha! <br>
     Traverse the land and best the fiendish creatures who bully all who roam. <br>
     Accumulate as much XRP as possible, as it is the life-blood of Agartha.<br>
     When you encounter a bully, always keep your XRP in mind. <br>
     During an encounter you may choose to FIGHT, HIDE, RUN, or BRIBE. <br>
     Keep in mind each action will have a different outcome for every bully. <br>
     Choose wisely!<br>
     Become the champion of Agartha by having the most XRP in all the land <br>
     </p>
  </div>
 

