body {
    background-image: url('/assets/cody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

.card {
    height: 250px;
    font-size: 30px;
    margin-bottom: 100px;
    opacity: 0.7;
}
.btn-group {
    margin-bottom: 30px;
}
#battle-text {
    opacity: 1.5;
}