body {
    background-image: url('/assets/jared.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

.card {
    height: 250px;
    font-size: 30px;
    margin-bottom: 100px;
    opacity: 0.7;
}
.btn-group {
    margin-bottom: 30px;
}
#battle-text {
    opacity: 1.5;
}
  /* .typewriter {
    font-family: Courier, monospace;
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
} */