* {
    font-family: 'Amatic SC', cursive;
    font-family: 'Kaushan Script', cursive;
}


#game-title {
    font-family: 'Amatic SC', cursive;
    font-family: 'Kaushan Script', cursive;
    color: white;
    padding-top: 300px;
    padding-bottom: 50px;
}

#buttons {
    font-size: 300px;
}

#login-form {
    padding-top: 350px;
}
#login-button {
    margin-top: 5px;
    border: 2px solid white;
}

#race {
    float: left;
    
    border: 2px solid white;
}

#class {
    float: right;
    border: 2px solid white;
}